$font-main:'Crimson Pro', serif;
$font-size-base: 20px;

$color-bg: #a9b5ec;
$color-primary: #151c5a;
$color-hover: #383b52;
$color-white: #ffffff;
$color-dark: #333;
$color-light: #fdfdfd;
$color-border: #ccc;
$color-timeline: #e6e6fa;
$color-timeline-hover: #d9d9f3;

$shadow: 0 4px 10px rgba(0,0,0,0.2);
$transition: 0.3s ease;

$book-bg: url("parchemin2.jpg") no-repeat center center/cover;
$page-bg: url("livre.png") no-repeat center center/cover;

